
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Process1", "UploadExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @ViewBag.Error
        <h1>HIII</h1>
        <table cellpadding="2" cellspacing="2">
            <tr>
                
                <td>File</td>
                <td><input type="file" value="Excelfile" /></td>

                <td>&nbsp;</td>
                <td><input type="submit" value="Upload" /></td>

                
            </tr>

        </table>
    }
</body>
</html>
