
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
    <p>Photo Uploaded Sucessful</p>

</head>
<body>
    <img src="~/Contents/Images/@ViewBag.fileName" height="120" width="100"/>
</body>
</html>
